* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.visible {
  display: inline-block;
}

.hidden {
  display: none;
}

header h3 {
  display: inline-block;
}

#timer-container {
  position: absolute;
  right: 50px;
}

header button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-top: 10px;
}

#start-section {
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
main button {
  background-color: #563ff1;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 10px 10px;
  cursor: pointer;
}

#q-section button {
  display: block;
}

#submit-btn {
  background-color: #09b84f;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 5px 5px;
  cursor: pointer;
}
